/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Home content
 */
.page-content {
  padding-bottom: $spacing-unit;
}

.page-header {
  text-align: center;
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $grey-color-light;
  padding: 0 $spacing-unit;
  @include relative-font-size(1.25);

  h2 {
    margin-bottom: 0;
  }
}

.header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-bottom: 5px solid $brand-color;
}



/**
 * Abstract display
 */
.abstract-wrapper {
  @extend %clearfix;
}



/**
 * Author display
 */
.author-col-wrapper {
  @extend %clearfix;
}

.author-col {
  font-size: 15px;
  color: $grey-color;
  text-align: center;
  float: left;

  .social-media-list svg {
      width: 16px;
  }
}

.author-col-1 {
  width: -webkit-calc(100% / 3);
  width:         calc(100% / 3);
}

.author-col-2 {
  width: -webkit-calc(100% / 3);
  width:         calc(100% / 3);
}

.author-col-3 {
  width: -webkit-calc(100% / 3);
  width:         calc(100% / 3);
}

.profile {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: $spacing-unit / 3;
  box-shadow: 0 0 10px $grey-color;

  @include transition(transform 0.2s, -ms-transform 0.2s, -webkit-transform 0.2s, box-shadow 0.2s);

  &:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 0 0 15px $grey-color;
    z-index: 2;
  }


  @include media-query($on-laptop) {
    width: 20%;
  }

  @include media-query($on-palm) {
    width: 40%;
  }
}



/**
 * Texture display
 */
.texture-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-bottom: $spacing-unit;
  text-align: center;
}

.texture-comparison {
  display: inline-block;
  text-align: center;
  margin-right: $spacing-unit / 3;

  video {
    display: block;
  }

  video:first-of-type {
    margin-bottom: $spacing-unit / 3;
  }
}

.dynamics-style-transfer {
  display: inline-block;
  text-align: center;
  margin-right: $spacing-unit / 3;

  video {
    display: block;
  }

  video:first-of-type, img {
    margin-bottom: $spacing-unit / 3;
  }
}
