<div class="texture-comparison">
  <h4>{{ include.name }}</h4>
  <video loop controls playsinline webkit-playsinline preload="none" poster="img/posters/{{ include.name }}.jpeg">
    <source src="textures/{{ include.target }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video loop controls playsinline webkit-playsinline preload="none" poster="img/posters/{{ include.name }}_output.jpeg">
    <source src="textures/{{ include.synthesized }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
